/* Write your CSS code here */
.main-container {
  display: flex;
  flex-direction: column;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.nav-image {
  height: 50px;
  width: 180px;
}
.nav-content-container {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  width: 25vw;
}
.link-style {
  text-decoration: none;
}
.list-item-style {
  color: #475569;
  list-style: none;
}
.header-button-style {
  color: #ffffff;
  background-color: #0967d2;
  border: none;
  border-radius: 10px;
  width: 136px;
  height: 36px;
}
.button-small-size-devices {
  border: none;
  background-color: transparent;
}
.logout-image {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .button-small-size-devices {
    display: none;
  }
  .small-device {
    display: none;
  }
}
.small-device-list-item-container {
  display: flex;
  justify-content: space-evenly;
  background-color: #e6f6ff;
  height: 100px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .nav-content-container {
    display: none;
  }
}
